.App {
    text-align: center;
    padding: 50px;
}

.Card {
    flex: 1
}

.Card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    backfaceVisibility: hidden;
}

.Card img {
    width: 100px;
    height: 100px;
    transition: all 0.4s linear;
    transform-style: preserve-3d;

}
.Card:after {
    left: 100%;
    right: 0;
    transition: left .3s ease;
}

.Card.animation1:after {
    left: 100%;
    right: 0;
    transition: left .3s ease;
}
.Board {
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}